<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="people.css" />
    <link rel="stylesheet"
          href="/lib/treant-js-1.0/Treant.css" />
    <script src="/lib/treant-js-1.0/vendor/raphael.js"></script>
    <script src="/lib/treant-js-1.0/Treant.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
