@page "/tree"

<h3 class="title">Tree View</h3>
<button class="button">Build Tree</button>
<script src="~/lib/treant-js-1.0/Treant.js"></script>
<script>
    function renderFamilyTree(treeData) {
        new Treant(treeData);
    }
</script>


@code {

}
