.people__table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

tr:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #000;
}

th {
    text-align: left;
}

thead {
    background-color: #3a6ea5;
}

td {
    position: relative;
}
